<!DOCTYPE html  >
<html lang="en"> 
  <head>
    <title>Aviva</title>
    <link href="./css/main.css" rel="stylesheet"/>
    <script src="./js/lib.js"></script>
  </head>
  <body>
  	
	{% include "partials/_nav.html" %}

  </body>
</html>